.chessboard {
    display: inline-grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 5px solid #333;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.square {
    width: 60px;
    height: 60px;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.page-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}